
"""""""""""""""""""""""""""""""""""""
""" Map leader to space ---------------------
"""""""""""""""""""""""""""""""""""""
let mapleader = " "

"""""""""""""""""""""""""""""""""""""
" Code navigation
"""""""""""""""""""""""""""""""""""""

"""""""""""""""""""""""""""""""""""""
" Testing
"""""""""""""""""""""""""""""""""""""
map tt <Action>(RunClass)

" TF = test file
map tf <Action>(Run)


"""""""""""""""""""""""""""""""""""""
" Searching in project
"""""""""""""""""""""""""""""""""""""
"map sp <Action>(SearchEverywhere)
map ss <Action>(Find)
map <leader>pf <Action>(GotoFile)
map <leader>sp <Action>(GotoSymbol)

"""""""""""""""""""""""""""""""""""""
" window switching is a bit of a pain, but most of the time I just have 2 or so splits which makes it unnecessary to
" map all the window up down left right actions
" https://stackoverflow.com/questions/32443612/switch-to-split-screen-in-intellij-ideavim
"""""""""""""""""""""""""""""""""""""
map <leader>wn <Action>(NextSplitter)
map <leader>wp <Action>(PrevSplitter)

map <leader>wo <Action>(MaximizeEditorInSplit)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wv <Action>(SplitVertically)
map <leader>bd <Action>(CloseActiveTab)

map <leader>wt <Action>(ActivateTerminalToolWindow)
map <leader>wm <Action>(HideSideWindows)
map <leader>w` <Action>(SelectInProjectView)

" ` = Terminal
" :map ` <Action>(ActivateTerminalToolWindow)
" map <C-t> <Action>(ActivateTerminalToolWindow

"""""""""""""""""""""""""""""""""""""
" Git commands
"""""""""""""""""""""""""""""""""""""
" map <leader>gs <Action>(Git.MainMenu)
map <leader>gs <Action>(Git.Stage.Compare.Local.Staged)


"""""""""""""""""""""""""""""""""""""
" Debugging
"""""""""""""""""""""""""""""""""""""
map <leader>d <Action>(Debug)