
"""""""""""""""""""""""""""""""""""""
""" Map leader to space ---------------------
"""""""""""""""""""""""""""""""""""""
let mapleader = " "


"""""""""""""""""""""""""""""""""""""
" Editing
"""""""""""""""""""""""""""""""""""""
map <C-c><space> <Action>(ReformatCode)
"""""""""""""""""""""""""""""""""""""
" Code navigation
"""""""""""""""""""""""""""""""""""""
"map v <Action>(EditorSelectWord)
"map v <Action>()

" vnoremap only applies in Visual mode
" Use Vim commands to select around word
vnoremap v aw

"""""""""""""""""""""""""""""""""""""
" Testing
"""""""""""""""""""""""""""""""""""""
map <leader>tt <Action>(RunClass)

" TF = test file
map <leader>tf <Action>(Run)
map <leader>tn <Action>(Run)


"""""""""""""""""""""""""""""""""""""
" Searching in project
"""""""""""""""""""""""""""""""""""""
map <leader>ss <Action>(Find)
map <leader>sy <Action>(GotoSymbol)
map <leader>sc <Action>(GotoClass)
map <leader>sp <Action>(SearchEverywhere)

" Project commands
map <leader>pa <Action>(OpenFile)
map <leader>pp <Action>(RecentProjectListGroup)
map <leader>pf <Action>(GotoFile)

"""""""""""""""""""""""""""""""""""""
" window switching is a bit of a pain, but most of the time I just have 2 or so splits which makes it unnecessary to
" map all the window up down left right actions
" https://stackoverflow.com/questions/32443612/switch-to-split-screen-in-intellij-ideavim
"""""""""""""""""""""""""""""""""""""
map <leader>wn <Action>(NextSplitter)
map <leader>wp <Action>(PrevSplitter)

map <leader>wo <Action>(MaximizeEditorInSplit)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wv <Action>(SplitVertically)
map <leader>wz <Action>(ToggleZenMode)

map <leader>bd <Action>(CloseActiveTab)
map <leader>bn <Action>(NextTab)
map <leader>bp <Action>(PreviousTab)
map <leader>bb <Action>(RecentFiles)

map <leader>wt <Action>(ActivateTerminalToolWindow)
map <leader>wm <Action>(HideSideWindows)
" Go into presentation mode/ etc
map <leader>ww <Action>(ChangeView)
map <leader>w` <Action>(SelectInProjectView)
map <leader>ff <Action>(SelectInProjectView)

" ` = Terminal
" :map ` <Action>(ActivateTerminalToolWindow)
" map <C-t> <Action>(ActivateTerminalToolWindow)

"""""""""""""""""""""""""""""""""""""
" Git commands
"""""""""""""""""""""""""""""""""""""
map <leader>gs <Action>(ChangesViewPopupMenu)
map <leader>gs <Action>(ChangesView.ToggleCommitUi)
map <leader>gc <Action>(ChangesView.Browse)

" Show three-sided diff for single file
" map <leader>gs <Action>(Git.Stage.Compare.Three.Versions)

" Show two-sided diff for single file
" map <leader>gs <Action>(Git.Stage.Compare.Local.Staged)


"""""""""""""""""""""""""""""""""""""
" MultiEditing
"""""""""""""""""""""""""""""""""""""
map gk <Action>(EditorCloneCaretAbove)
map gj <Action>(EditorCloneCaretBelow)

" no Select Previous Occurrence
map ga <Action>(SelectAllOccurrences)
map gn <Action>(SelectNextOccurrence)

"""""""""""""""""""""""""""""""""""""
" Debugging
"""""""""""""""""""""""""""""""""""""
map <leader>d <Action>(Console.AggregateView.PopupGroup)

" Debugging
"""""""""""""""""""""""""""""""""""""
"map <leader>d <Action>(Debug)

"""""""""""""""""""""""""""""""""""""
" Clojure
" https://github.com/cursive-ide/cursive/issues/907#issuecomment-309314357
"""""""""""""""""""""""""""""""""""""
nnoremap <space>kB :action :cursive.actions.paredit/barf-backwards<CR>
nnoremap <space>kb :action :cursive.actions.paredit/barf-forwards<CR>
nnoremap <space>kdx :action :cursive.actions.paredit/kill-sexp<CR>
nnoremap <space>kS :action :cursive.actions.paredit/slurp-backwards<CR>
nnoremap <space>ks :action :cursive.actions.paredit/slurp-forwards<CR>
nnoremap <space>kE :action :cursive.actions.paredit/splice-killing-backwards<CR>
nnoremap <space>ke :action :cursive.actions.paredit/splice-killing-forwards<CR>
nnoremap ,rtf :action :cursive.actions.paredit/thread-form<CR>
nnoremap <C-c><C-c> :action :cursive.repl.actions/interrupt <CR>
nnoremap <space>msp :action :cursive.repl.actions/jump-to-output<CR>
nnoremap <space>mss :action :cursive.repl.actions/jump-to-repl<CR>
nnoremap ,eb :action :cursive.repl.actions/load-file<CR>
nnoremap <space>mem :action :cursive.repl.actions/macroexpansion<CR>
nnoremap <C-<Down>> :action :cursive.repl.actions/next-history-item<CR>
nnoremap <C-<Up>> :action :cursive.repl.actions/prev-history-item<CR>
nnoremap ,el :action :cursive.repl.actions/run-last-sexp<CR>
nnoremap ,ef :action :cursive.repl.actions/run-top-sexp<CR>
nnoremap <space>msx :action :cursive.repl.actions/sync-files<CR>
nnoremap <space>mtx :action :cursive.testing.actions/remove-test-markers<CR>
nnoremap <space>mtr :action :cursive.testing.actions/rerun-last-test <CR>
nnoremap ,tn :action :cursive.testing.actions/run-ns-tests <CR>
nnoremap <space>mtt :action :cursive.testing.actions/run-single-test<CR>
set ideajoin

"
" https://github.com/cursive-ide/cursive/wiki/Mapping-IdeaVim-actions-to-Cursive-actions
map <space>kr :action :cursive.actions.paredit/raise<CR>
map <space>kw :action :cursive.actions.paredit/wrap-paren<CR>
map <C-p> "+p
